.DieBox {
    background-color: seagreen;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    margin-right: 0.5em;
}